body {
  margin: 0;
  font-family: "Montserrat";
}
/* html {
  overflow-y: scroll;
} */
.container {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-size: 18px;
  margin: 10px;
  font-size: 19px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
}
a:hover {
  color: #b4ff00;
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-underline-offset: 7px;
}

.logo {
  position: relative;
  left: 72px;
  top: 26px;
}
.navb {
  display: flex;
  height: 64px;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 3;
  width: 100%;
  top: 0;
}
.navb2 {
  display: hidden;
}

.language {
  font-family: "Montserrat";
  font-size: 22px;
  color: #ffffff;
  text-align: left;
  margin-right: 20px;
  font-weight: bold;
}

.sundco {
  height: 1080px;
  width: auto;
  background: url("https://public-v2links.adobecc.com/1b0dc640-6cb6-4b78-4968-d4cedbeac66b/component?params=component_id%3Aaf1acdd2-a555-47cb-8645-cc0cb5a6b066&params=version%3A0&token=1667545631_da39a3ee_371bc3a85fb1e60490a77b041b98c0c8dc82b6ba&api_key=CometServer1");
}
span,
#_line {
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-underline-offset: 7px;
  text-decoration-color: #b4ff00;
}

.text {
  color: white;
  padding-top: 448px;
  padding-left: 252px;
  font-family: "Montserrat";
  font-weight: 800;
}

.headline {
  font-size: 100px;
}
.para {
  font-size: 30px;
  width: 576px;
}

/* css for carousel 2 (start typing) */

.startTyping {
  height: 1080px;
  width: 1920px;
}
.x_btn {
}
#x_btn {
  margin-top: 170px;
  margin-left: 1680px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  background-image: url("https://public-v2links.adobecc.com/1b0dc640-6cb6-4b78-4968-d4cedbeac66b/component?params=component_id%3A87ccf989-f7f7-45f2-8470-53d36716a268&params=version%3A0&token=1667571383_da39a3ee_250e215a7e1cafa0ef926be85eb1249696f325b8&api_key=CometServer1");
}
.vl {
  border-left: 20px solid black;
  height: 96px;
  margin-top: 20px;
}
.hl {
  border-bottom: 20px solid #b4ff00;
  width: 96px;
  margin-left: 252px;
}
.srchfield {
  display: flex;
  flex-direction: row;
  top: 308px;
  margin-left: 252px;
}
.inpt {
  height: 122px;
  width: 717px;
  font-size: 100px;
  border: none;
  text-align: left;
  background-color: white;
  color: #cfcfcf;
  cursor: pointer;
}

.inpt_clicked {
  height: 122px;
  width: 717px;
  font-size: 18px;
  border: none;
  text-align: left;
  background-color: white;
  color: #cfcfcf;
  cursor: pointer;
  font-style: italic;
}

#but1 {
  top: 672px;
  left: 252px;
  width: 336px;
  height: 84px;
  background: #4b00ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000066;
  border-radius: 42px;
  opacity: 1;
  color: #ffffff;
  font-size: 32px;
  border: none;
  cursor: pointer;
}

.button1 {
  margin-top: 265px;
  margin-left: 252px;
}

/* css for carousel page 3 (geom) */
.geom {
  height: 1080px;
  width: 1920px;
}
.inpt2 {
  height: 122px;
  width: 717px;
  font-size: 100px;
  font-weight: 800;
  border: none;
  text-align: left;
  background-color: white;
  color: black;
}
/* .vl2 {
  border-right: 20px solid black;
  height: 96px;
  margin-top: 20px;
} */

.hl2 {
  border-bottom: 20px solid #b4ff00;
  width: 308px;
  margin-left: 252px;
}

.geomfield {
  display: flex;
  flex-direction: row;
  padding-top: 308px;
  padding-left: 252px;
}

/* carousel css */

.mySlides {
  display: none;
}
.dots {
  padding-top: 200px;
}
.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: #9f9f9f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  bottom: 63px;
  left: 920px;
}
.active,
.dot:hover {
  background-color: #717171;
}
Fading animation #fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* the standard css */
.standard {
  height: 1080px;
}
.girl {
  display: flex;
  flex-direction: row;
}
.girl_photo {
  margin-top: 144px;
  margin-left: 252px;
  width: 696px;
  height: 368px;
}
#girl_photo {
}
.girl_photo:hover {
  background-position: 50% 20px, top;
}
.girl_desc {
  width: 456px;
  height: 368px;
  margin-top: 144px;
  margin-left: 144px;
}

.since {
  color: #cfcfcf;
  font-weight: bold;
  font-size: 16px;
}
.the_stand {
  color: black;
  font-weight: 800;
  font-size: 32px;
}

.pillow {
  display: flex;
  flex-direction: row;
}

.pillow_desc {
  width: 455px;
  height: 168px;
  margin-left: 493px;
  margin-top: 176px;
}

#search_pillow {
  background: #4b00ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000066;
  border-radius: 42px;
  opacity: 1;
  width: 240px;
  height: 56px;
  margin-left: 492px;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}
#search_pillow:hover {
  cursor: pointer;
  background-color: #3e00d4;
}

.pillow_photo {
  width: 456px;
  height: 424px;
  margin-left: 144px;
  margin-top: 120px;
}
#pillow_photo {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.pillow_photo :hover {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* css for contact form , map and footer */

.contact {
}
.footer_divider {
  height: 1080px;
  width: 1064px;
  display: flex;
  flex-direction: row;
}

#map {
  width: 856px;
  height: 1080px;
}

.forma {
  margin-left: 184px;
  margin-top: 104px;
  width: 659px;
}

.contact_us {
  height: 32px;
  text-align: left;
  font-size: 32px;
  font-weight: 800;
  width: 696px;
}

.contact_text {
  height: 48px;
  width: 696px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
}

#fname {
  margin-top: 48px;
  width: 696px;
  height: 56px;
  border: 1px solid #000000;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}
#fname::placeholder {
  color: black;
  opacity: 1;
}
#fname:focus::placeholder {
  color: transparent;
}
#fname_label {
  color: #4b00ff;
  position: absolute;
  margin-top: 40px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0;
}
#fname_invalid {
  outline: none !important;
  border-color: red;
  margin-top: 40px;
  width: 696px;
  height: 56px;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}
#fname_label_error {
  color: red;
  position: absolute;
  top: 2473px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}

#fname:hover {
  outline: none !important;
  border-color: #4b00ff;
  cursor: pointer;
}
#fname:focus {
  outline: none !important;
  border-color: #4b00ff;
}
#fname:focus + #fname_label {
  color: #4b00ff;
  position: absolute;
  top: 2443px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}
#email {
  margin-top: 40px;
  width: 696px;
  height: 56px;
  border: 1px solid #000000;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}
#email::placeholder {
  color: black;
  opacity: 1;
}
#email:focus::placeholder {
  color: transparent;
}
#email_label {
  color: #4b00ff;
  position: absolute;
  margin-top: 32px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0;
}
#email:focus {
  outline: none !important;
  border-color: #4b00ff;
}
#email:focus + #email_label {
  color: #4b00ff;
  position: absolute;
  top: 2563px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}

#email_invalid {
  outline: none !important;
  border-color: red;
  margin-top: 40px;
  width: 696px;
  height: 56px;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}
#email_label_error {
  color: red;
  position: absolute;
  top: 2590px;
  padding: 3px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}

#phone {
  margin-top: 40px;
  width: 696px;
  height: 56px;
  border: 1px solid #000000;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}
#phone::placeholder {
  color: black;
  opacity: 1;
}
#phone:focus::placeholder {
  color: transparent;
}
#phone_label {
  color: #4b00ff;
  position: absolute;

  margin-left: 16px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0;
  position: relative;
  /* display: none; */
}
#phone_label_error {
  color: red;
  position: absolute;
  top: 2705px;
  padding: 3px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}
#phone_invalid {
  outline: none !important;
  border-color: red;
  margin-top: 40px;
  width: 696px;
  height: 56px;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}
#phone:focus {
  outline: none !important;
  border-color: #4b00ff;
}
#phone:focus + #phone_label {
  color: #4b00ff;
  position: absolute;
  top: 2710px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}
.categories {
  display: flex;
  flex-direction: row;
  width: 696px;
}
#category {
  margin-top: 40px;
  width: 328px;
  height: 56px;
  border: 1px solid #000000;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}

#categorySelect {
  margin-top: 40px;
  margin-left: 120px;
  width: 328px;
  height: 56px;
  border: 1px solid #000000;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
}
#category:focus {
  outline: none !important;
  border-color: #4b00ff;
}
#category:focus + #category_label {
  color: #4b00ff;
  position: absolute;
  top: 2810px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}
#category_label {
  color: #4b00ff;
  position: absolute;
  margin-top: 32px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0;
}
#categorySelect_label {
  color: #4b00ff;
  position: absolute;
  margin-top: 32px;
  margin-left: 430px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0;
}
#categorySelect:focus {
  outline: none !important;
  border-color: #4b00ff;
}
#categorySelect:focus + #categorySelect_label {
  color: #4b00ff;
  position: absolute;
  top: 2810px;
  margin-left: 430px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}
#message {
  margin-top: 40px;
  width: 696px;
  height: 112px;
  border: 1px solid #000000;
  border-radius: 28px;
  opacity: 1;
  text-indent: 40px;
  font-weight: 500;
  resize: none;
  padding-top: 19px;
}
#message::placeholder {
  color: black;
  opacity: 1;
  font-weight: 500;
  /* padding-top: 19px; */
}
#message:focus::placeholder {
  color: transparent;
}

#message_label {
  color: #4b00ff;
  position: absolute;
  margin-top: 32px;
  margin-left: 16px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 0;
}
#message:focus {
  outline: none !important;
  border-color: #4b00ff;
}
#message:focus + #message_label {
  color: #4b00ff;
  position: absolute;
  top: 2908px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 12px;
  z-index: 2;
  background-color: #ffffff;
  opacity: 1;
}
#error {
  width: 696px;
  text-align: right;
  align-self: flex-end;
}
input[type="checkbox"]:checked {
  box-shadow: #4b00ff;
  color: #4b00ff;
}
.submit_form {
  width: 328px;
  height: 56px;
}
#submit_form {
  margin-top: 50px;
  margin-left: 184px;
  width: 328px;
  height: 56px;
  background: #4b00ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000066;
  border-radius: 42px;
  opacity: 1;
  color: white;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 64px;
  border: none;
}

#submit_form:hover {
  background-color: #3e00d4;

  cursor: pointer;
}

.footer {
  width: 1920px;
  height: 48px;
  display: flex;
  flex-direction: row;
  background-color: #000000;

  color: white;
  align-items: center;
}

.copywrite {
  margin-left: 72px;
  font-weight: 500;
  font-size: 16px;
}

.coockies {
  font-size: 18px;
  font-weight: 800;
  margin-left: 528px;
}
.small_logo {
  margin-left: 823px;
}

.small {
  width: 696;
  text-align: right;
  font-weight: 500;
  font-size: 12px;
}
